@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

body {
  padding: 0 0;
  margin: 0 0;
}

.app-container {
  display: flex;
  justify-items: stretch;
  height: calc(100%);
  min-height: 100vh;
}

#task-app {
  background-color: #e7edf3;
}

#task-menu-container {
  background-color: #0592bb;
  padding: .5em 1.5em;
  box-sizing: border-box;
  z-index: 999999;
  min-width: 200px;
  max-width: 20%;
}

#task-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 2em 0;
}

#task-menu button {
  font-family: 'Barlow', sans-serif;
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: .25em 0;
  color: rgba(255,255,255,.75);
  text-align: right;
  font-size: 1.05em;
  padding: .5em .25em;
}

#task-menu button:hover, #task-menu .filter-btn.active {
  color: #e5d62c;
  box-shadow: 0 4px 10px -10px rgba(0,0,0,.75);
}

.panel {
  position: relative;
  transition-duration: 250ms;
  padding: .5em 1em .5em 1em;
}

#task-form-panel {
  background-color: #d5e1ec;
  display: flex;
  transform: translateX(-100%);
}

#task-form-panel.hidden {
  width: 0;
  padding: 0 0;
  visibility: hidden;
}

#task-form-panel.hidden * {
  opacity: 0;
}

#task-form-panel.slide-in {
  transform: translateX(-100%);
  padding: inherit 0;
}

#task-form-panel.slide-out {
  transform: translateX(0);
}

#tasks-container-panel {
  width: 100%;
}

#task-filters {

}

.slide-out + #tasks-container-panel #tasks-container {
  flex-wrap: nowrap;
  flex-direction: column;
}
.slide-out + #tasks-container-panel #tasks-container .task-wrapper{
  width: 100%;
}

#tasks-container {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.task-wrapper {
  display: flex;
  width: 49%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 1em;
  transition-duration: 250ms;
  background-color: #ffffff;
}

.task-wrapper .task-container {
  position: relative;
  padding: .75em;
  padding-bottom: 3em;
  box-sizing: border-box;
  width: 100%;
}

.task-wrapper .task-container:after {
  content: '';
  display: block;
  clear: both;
}


.task-container h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #98a9ba;
  margin: 0 0;
}

.task-wrapper.completed h2 {
  color: #36c186;
}

.task-wrapper.overdue h2 {
  color: #e6982c;
}


.task-wrapper .task-container p {
  font-family: 'Barlow', sans-serif;
  word-wrap: break-word;
}

.task-wrapper .task-container .date-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Barlow', sans-serif;
  margin-top: .25em;
  font-size: .75em;
}

.task-wrapper .task-container .date-container * {
  vertical-align: middle;
}

.task-wrapper .task-container .date-container span.check-completed {
  color: #ffffff;
  background-color: #36c186;
  display: inline-block;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: .125em;
  position: relative;
  line-height: 1em;
  font-weight: bold;
}

.task-wrapper .task-container .date-container span.check-completed * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.task-wrapper .task-container p:last-of-type {
  margin-bottom: 0;
}
.task-wrapper.fade-out {
  opacity: 0;
  transition-duration: 250ms;
}

button.close-panel-btn {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: #999999;
}

#submit-task-btn {
  outline: 0;
  border: 0;
  background-color: transparent;
  padding: .25em 1em;
  border-radius: 1em;
  color: #ffffff;
  background-color: rgba(0,0,0,.25);
  cursor: pointer;
}

#submit-task-btn:hover {
  background-color: #36c186;
}


.mark-completed-btn, .task-wrapper .task-container .remove-btn {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: .75em;
  margin: 1em .25em  .25em .25em;
  padding: .25em 1em;
  border-radius: 1em;
  float: right;
  color: #ffffff;
}

.mark-completed-btn:enabled, .task-wrapper .task-container .remove-btn:enabled {
  cursor: pointer;
  background-color: rgba(0,0,0,.25);
  transition-duration: 250ms;
}

.mark-completed-btn:disabled {
  background-color: #36c186;
}

.mark-completed-btn:enabled:hover {
  background-color: #36c186;
}

.task-wrapper .task-container .remove-btn:hover {
  background-color: #c65b64;
}

.important-icon {
  background-color: 
}

button.close-panel-btn:hover {
  color: #333333;
}

#task-form-wrapper {
  display: flex;
}

#logo {
  font-family: 'Raleway', sans-serif;
  color: #e5d62c;
  font-weight: 600;
  text-align: right;
  font-size: 2.25em;
  line-height: 1em
}

#logo .tag {
  display: block;
  font-weight: 300;
  font-size: .85rem;
  line-height: .75em;
  color: #ffffff;
}

h2.form-title {
  font-family: 'Raleway', sans-serif;
  color: #7f92a5;
  font-weight: 600;
  margin-bottom: 0;
}

#task-form .input-wrapper {
  margin: .5em 0;
}

#task-form .input-wrapper label {
  font-family: 'Barlow', sans-serif;
  color: #164173;
  font-size: .85em;
  margin: .25em 0;
  display: block;
}

#task-form input:not([type="checkbox"]) {
  padding: .5em;
  width: 100%;
  min-width: 200px;
  font-family: 'Barlow', sans-serif;
  border: 0;
  box-sizing: border-box;
}

#task-form textarea {
  padding: .5em;
  width: 100%;
  min-width: 200px;
  font-family: 'Barlow', sans-serif;
  border: 0;
  box-sizing: border-box;
}

#tasks-container-panel h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #7f92a5;
  margin-bottom: 0;
}

#task-legend, #task-filter-container {
  width: 100%;
  display: flex;
  margin-bottom: .5em;
}

#task-legend span.completed {
  color: #36c186;
}

#task-legend span.incomplete {
  color: #98a9ba;
}

#task-legend span.overdue {
  color: #e6982c;
}


#task-legend > div {
  font-family: 'Barlow', sans-serif;
  font-size: .8em;
  margin: .5em 1em;
}

#task-legend > div:first-of-type {
  margin-left: 0;
}

#task-legend > div:last-of-type {
  margin-right: 0;
}

#task-filter-container {
  font-family: 'Barlow', sans-serif;
  font-size: .8em;
  margin-bottom: 2em;
  background-color: #d5e1ec;
  padding: .5em;
}

#task-filter-container label {
  width: 100%;
}

#task-filter-container select {
  padding: .5em;
  width: 100%;
  min-width: 200px;
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
  display: inline-block;
  border:0px;
  outline:0px;
  scroll-behavior: smooth;
}

.btn-container {
  position: absolute;
  right: .5em;
  bottom: .5em;
}

@media only screen and (max-width: 600px) {
  #tasks-container-panel #tasks-container .task-wrapper{
    width: 100%;
  }
}
